<p id="notice"><%= notice %></p>

<p>
  <b>Acid:</b>
  <%= @customer.acid %>
</p>

<p>
  <b>Given names:</b>
  <%= @customer.given_names %>
</p>

<p>
  <b>Father last name:</b>
  <%= @customer.father_last_name %>
</p>

<p>
  <b>Mother last name:</b>
  <%= @customer.mother_last_name %>
</p>

<p>
  <b>Street:</b>
  <%= @customer.street %>
</p>

<p>
  <b>Exterior number:</b>
  <%= @customer.exterior_number %>
</p>

<p>
  <b>Interior number:</b>
  <%= @customer.interior_number %>
</p>

<p>
  <b>Colony:</b>
  <%= @customer.colony %>
</p>

<p>
  <b>City:</b>
  <%= @customer.city %>
</p>

<p>
  <b>State:</b>
  <%= @customer.state %>
</p>

<p>
  <b>Country:</b>
  <%= @customer.country %>
</p>

<p>
  <b>Zip code:</b>
  <%= @customer.zip_code %>
</p>

<p>
  <b>Cell phone:</b>
  <%= @customer.cell_phone %>
</p>

<p>
  <b>Id number:</b>
  <%= @customer.id_number %>
</p>

<p>
  <b>Occupation:</b>
  <%= @customer.occupation %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
