<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" xml:lang = "en" lang = "en">
  <head>
    <title>alivianeMLM</title>
    <%= stylesheet_link_tag "screen","style","application","formtastic","formtastic_changes", :media => :all %>
    <%= javascript_include_tag "application","controls", "dragdrop", "effects", "prototype", "rails" %>
<!--    <%= javascript_include_tag :defaults %>  -->
    <%= csrf_meta_tag %>
  </head>
  <body>
    <% if user_signed_in? %>
    <%= link_to "home", root_path %>
    <%= link_to "Projects", projects_path %>
    <%= link_to "Role", roles_path %>
    <% else %>
    <%= link_to "Sign In", new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
